*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
header{
    width: 100vw;
    height: 75px;
    background-color: #8F43E1 !important;
    display: flex;
    align-items: center;
    justify-content: right;
}
#nav-section{
    background-color: transparent;
}
#nav-section a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
#home{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    border: 2px solid black;
    position: relative;
}
#home div:first-child{
    border: 2px solid black;
    bottom: 100px;
    margin: auto;
    position: relative;
    font-size: 22px;
    text-align: center;
    color: white;
}
#desc h2 {
    color: #5007BE;
}
#home div:last-child{
    bottom: 50px;
    right: 175px;
    margin: auto;
    position: relative;
}
#hire_button{
    width: 150px;
    height: 50px;
    top: 50px;
    right: 25px;
    position: relative;
    margin: auto;
    border-radius: 10px ;
    background-color: #5858e3;
    color: black;
    font-weight: bold;
}
#download_btn{
    width: 150px;
    height: 50px;
    top: 50px;
    left: 25px;
    position: relative;
    margin: auto;
    border-radius: 10px ;
    background-color: #5007BE ;
    color: white;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7); /* Soft white glow */
    transform: scale(1.1); /* Slightly enlarges on hover */
}
#about{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#about>h2{
    text-align: center;
    font-weight: bolder;
    color: #5007BE;
    font-size: 45px;
    grid-column: span 2;
    top: 25px;
    position: relative;
}
#about div{
    padding: 20px;
    font-size: 30px;
    line-height: 1.5;
    word-wrap: break-word;
}
#aboutMePicture{
    left: 150px;
    position: relative;
}
#education{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    width: 100vw;
    position: relative;
}
#eduDescription{
    top: 300px;
    bottom: 0;
    left: 200px;
    position: absolute;
    margin: auto;
}
#eduDescription>h2{
    font-size: 40px;
    color: deeppink;

}
#education .school{
    line-height: 1.5;
    margin: auto;
    position: absolute;
}
#education .school:nth-child(2){
    top: 80px;
    right: 210px;

}
#education .school:nth-child(3){
    top: 230px;
    right: 650px;

}
#education .school:nth-child(4){
    top: 400px;
    right: 280px;
}
#education .school:nth-child(5){
    top: 530px;
    right: 650px;
}